@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 50px;
}

.App {
  max-width: 500px;
  margin: 0 auto;
}
.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__group label {
  font-size: 16px;
  color: black;
  font-weight: 400;
  margin-bottom: 10px;
}
.form__group input {
  font-size: 14px;
  color: black;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.actions {
  display: flex;
  align-items: center;
}
.btn__submit {
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(13, 110, 253);
  color: #fff;
  border-radius: 3px;
  margin-right: 10px;
  text-decoration: none;
}
.btn__submit:hover {
  background-color: rgb(23, 120, 263);
}
.btn__cancel {
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(220, 53, 69);
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}
.btn__cancel:hover {
  background-color: rgb(230, 63, 79);
}
.Heading {
  background-color: #1a1a1a;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 20px;
}
.Heading h3 {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}
.Heading .btn__add {
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(13, 110, 253);
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}
.Heading .btn__add:hover {
  background-color: rgb(23, 120, 263);
}
.UserList {
  padding: 5px 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 10px;
}
.UserList p {
  font-size: 16px;
  font-weight: 500;
  color: #1a1a1a;
}
.btn__edit {
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(255, 193, 7);
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  margin-right: 10px;
}
.btn__edit:hover {
  background-color: rgb(265, 203, 17);
}

.btn__delete {
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(220, 53, 69);
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}
.btn__delete:hover {
  background-color: rgb(230, 63, 79);
}
